.speech{
    font-family: sans-serif;
    font-size: 15px;
    color: black;
    
}

.stagedirections{
    font-family: serif;
    font-size: 19px;
    color: black;
    background-color: rgb(17, 112, 236);
}

.name{
    font-family: Garamond;
    font-size: 20px;
    color: rgb(0, 255, 42);

}










